{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="Dashboard" />
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
  {% block title %}
  <title>Skittle Home</title>
  {% endblock %}
  <!-- icon -->
  <link rel="shortcut icon" href="{% static 'images/logo-white.png' %}" />
  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <!-- <link href="{% static 'lib/fontawesome/css/fontawesome.css' %}" rel="stylesheet" />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">  
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
  {% block style %} {% endblock %}
</head>

<body>
    <div class="main-container d-flex">
      <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
          <h1 class="fs-4"><span class="text-white">Skittle</span></h1>
          <button class="btn close-btn px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
        </div>
        <ul class="list-unstyled px-2 pt-3 pb-4">
          {% block Dashboard %}
          <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house"></i>Dashboard</a></li>
          {% endblock %}
          {% block Apps %}
          <li class="text-decoration-none px-3 py-2 d-block"><a href="">CRT</a></li>
          <li class="text-decoration-none px-3 py-2 d-block"><a href="">Abuse IP</a></li>
          <li class="text-decoration-none px-3 py-2 d-block"><a href="">NMap Files Comparator</a></li>
          {% endblock %}
        </ul>
        <hr class="h-color mx-3">
      </div>
      <div class="content">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="d-flex justify-content-between">
              <button class="btn px-1 py-0 open-btn"><i class="fa-solid fa-bars"></i></button>
              <a class="navbar-brand fs-4" href="#">
                <img src="{% static 'images/logo-white.png' %}" class="d-inline-block align-top" alt="Logo">
              </a>
            </div>
            <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--sidebar end-->

    <!--
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fas fa-user-friends"></i>
          <span>Dashboard</span>
        </a>
        <ul class="sub">
          <li><a href="">...</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fas fa-question"></i>
          <span>Hola {{ name }} de {{edad}} años</span>
        </a>
        <ul class="sub">
          <li><a href="">CRT</a></li>
          <li><a href="">Abuse IP</a></li>
          <li><a href="">NMap Files Comparator</a></li>
        </ul>
      </li>-->

    <!--main content start-->
    <!-- <section id="main-content" class="content">
      <section class="wrapper">
        {% block Content %}
        <h1>hola</h1>
        {% endblock %}
      </section>
    </section> -->
    <!--main content end-->
  {% block Script %}
  <!-- <script
      type="text/javascript"
      src="{% static 'lib/gritter/js/jquery.gritter.js' %}"
    ></script> -->
  <!-- <script
      type="text/javascript"
      src="{% static 'lib/gritter-conf.js' %}"
    ></script> -->
  <script src="{% static 'lib/jquery-3/jquery.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/6fa0030673.js"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/sidebar.js' %}"></script>
  {% endblock %} {% block MoreScript %} {% endblock %}
</body>

</html>